#home_block {
	width: 100%;
	height: auto;
	margin-top: 73px;
	padding: 1 0 1 0;
}

#control_panel {
	margin: 12 5 5 5;
	height: auto;
	text-align: center;
	padding: 12 0 12 0;
	color: teal;
	border-top: 2px solid rgb(0, 206, 209);
}

#control {
	margin: 8 5 5 5;
	width: 282;
	height: 138;
	border: 1px dotted;
	display: inline-block;
	background: rgb(255, 249, 240);
	text-align: left;
	vertical-align: bottom;
}

#control>p {
	margin: 5 0 0 10;
}

#statistic_wrap {
	height: auto;
	margin: 12 5 5 5;
	padding: 12 0 12 0;
	text-align: center;
	color: teal;
	border-top: 2px solid rgb(0, 206, 209);
}

.statistic {
	width: 400;
	height: 500;
	display: inline-block;
	margin-top: 10;
	text-align: left;
	vertical-align: bottom;
	border: 1px dotted;
}

.pr {
	background: rgb(218, 255, 218);
	margin-right: 5;
}

.sp {
	background: rgb(255, 229, 229);
	margin-left: 5;
}

#block_title {
	font-size: 18;
	text-align: center;
	border-bottom: 1px dotted;
}

#block_title>a>img {
	margin-top: -3;
	margin-left: -100%;
}

.tableTd2 {
	text-align: right;
}

#home_block table {
	width: 97%;
	color: darkgoldenrod;
	margin: 7 0 0 5;
}

#home_block td {
	border-bottom: 1px dashed lightgray;
}