.lsForm {
	margin-top: 200px;
	width: 300px;
	height: 165px;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
}

.lsForm a {
	text-decoration: none;
	color: dodgerblue;
	font-size: 15;
}

input {
	border: 1px solid white;
	padding: 12px;
	width: 294px;
	margin-bottom: 5px;
	border: 1px solid darkturquoise;
}

input:focus {
	outline: none;
}

.subm {
	border: darkturquoise solid 2px;
	background: none;
	font-size: 20;
	color: darkturquoise;
	padding: 9px;
	cursor: pointer;
}

.signUpRef {
	text-align: right;
	margin-top: -3px;
	margin-right: 3px;
}