.lsForm {
	margin-top: 150px;
	/*width: auto;*/
	margin-left: auto !important;
	margin-right: auto !important;
}

.lsForm a {
	text-decoration: none;
	color: dodgerblue;
	font-size: 15;
}

.signUpRef {
	float: right;
	display:inline;
	margin:13 12 0 0;
}

.help-block {
	color:red !important;
	text-align:center;
}

#subm {
	float:right;
}

#i_logo {
	margin:0 0 25; 
	width:70; 
	height:70;
}