
#menu {
  margin: 0 7 0;
  background: rgb(236, 236, 236);
  padding-top: 176; 
}

#elMenu > a {
  height: 45;
  width: 195;
  display: block;
  padding: 10 0 10 5;
  text-decoration: none;
  color: black;
  font-size: 16;
}

#elMenu > a:hover {
	border-left: 3px solid black;
	color:red;
}
#menuTitle{
  font-size: 20;
  text-align: center;
  width: 100%;
  background: rgb(103, 103, 103);
  color: white;
  height: 32; 
  line-height: 1.6;
}
