#menu {
  padding-top: 38; 
}

#elMenu > a {
  width: 100%;
  display: block;
  padding: 10 0 10 5;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

#elMenu > a:hover {
	border-left: 3px solid black;
	color:red;
}
#menuTitle{
  font-size: 20;
  text-align: center;
  width: 100%;
  background: rgb(0, 206, 209);
  color: white;
  height: 32; 
  line-height: 1.6;
}