#searchBlock {
	padding: 5;
	margin-top: 10px; 
}
#searchForm {
	margin-top: 50;
}
#searchEl{
	margin-top:5;
}
#searchEl span{
	display: block;
	margin-top:5;
}
#searchEl span label{
	margin-left:5;
	font-weight: normal;
}
.dateEl{
	width: 125;
	font-size:12px;
	border: 2px solid rgb(110, 110, 110);
}
#nadp {
	width:55;
	display: inline-block;
}
#searchSubmit {
  width: 162;
}
.submClear {
	 width: 40 !important;
	 vertical-align: bottom;
}
.submClear:hover {
	 color: red !important;
}
legend {
  color:red;
  font-size:14px;
  margin:0;
  width: auto;
  border-bottom: 0;
}
fieldset {
	border: 1px solid lightgray;
}
#selectEl {
  width: 184;
  height: 30;
  font-size: 17;
  margin: 10 0 10 0;
  border: 2px solid rgb(110, 110, 110);
  background-color: white;
}

	.value_lab {
		width:90; 
		border:0;
		font-weight:bold;
	}
	.slider {
		margin: 0 0 10 7;
		width: 171;
	}
	.ui-state-default, .ui-widget-content .ui-state-default{
		border: 1px solid #00CED1 !important;
	}
	.ui-widget-header {
		background: rgb(0, 113, 100) !important;
	}