/*---------Оформление. Общие стили---------*/
.support,
.support-two {
	display: inline-block;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}
.tip,
.tip-two,
.tip-three { 
  	display: none;
  	position: absolute;
  	z-index: 10;
  	top: 0;
  	left: 100%;
  	background: #EDEDED;
  	border-radius: 3px;
  	border: 1px solid #ccc;
  	box-shadow: 5px 5px 0.5em -0.1em rgba(0,0,6,0.5);
  	text-align: left;
  	color: #000;
/*   	font: normal 500 14px Arial, sans-serif; */
/*   	opacity: .9;  */
  	cursor: default;
  	padding: 5px;
  	margin: -5px 0 0 10px;
  	width: auto;
 	height: auto;
}
.tip-two,
.tip-three { 
  	margin: -30px 0 0 0;
}
.tip:before,
.tip-two:before,
.tip-three:before {
 	border-width: 9px 8px 9px 0;
 	border-color: transparent #cccccc transparent transparent;
 	top: 5px;
 	left: -9px;
}
.tip:after,
.tip-two:after,
.tip-three:after {
 	border-width: 7px 7px 7px 0;
 	border-color: transparent #ededed transparent transparent;
 	top: 7px;
 	left: -7px;
}
.tip:before,
.tip-two:before,
.tip-three:before,
.tip:after,
.tip-two:after,
.tip-three:after {
 	content:"";
 	position:absolute;
 	width: 0px;
 	height: 0px;
 	border-style: solid;
}


.tip-block {
 	display: inline-block;
 	position: relative;
 	background: transparent;
 	margin: 0;
 	padding: 0;
 	border: 0;
 	height: 0;
 	width: 1px;
}

/*---------При наведении--------------*/

.support-hover,
.support-hover-two {
 	display: inline-block;
 	position: relative;
 	color: #06C;
 	text-decoration: none;
 	cursor: pointer;
}

/*--------------Внутри тега 'A'------------*/

a.support-hover:hover .tip {
 	display:block;
}