#NewNameInput{
	 margin: 6 0;
	 display:none;
	 border-width:3px;
	 border-style:dotted;
	 border-color:#cacaca;
	 -webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
	 border-radius: 10px;
	 font-size:15px;
	 font-family:arial;
	 color:#7a3403;
	 padding-left:4px;
	 width:876px;
	 height:35px;
	 background:#ffffff;
	 z-index:201;
	 position: absolute;
}

#but1 {
	margin: 9 882;
	display: none;
	z-index:200;
	position: absolute;
}