.beaTable {
	margin: 27 0 0 4;
	padding: 0px;
	width: 99%;
	border: 1px solid #1f9b2b;
}

.beaTable table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.beaTable tr:last-child td:last-child {
	-moz-border-radius-bottomright: 9px;
	-webkit-border-bottom-right-radius: 9px;
	border-bottom-right-radius: 9px;
}

.beaTable table tr:first-child td:first-child {
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-left-radius: 9px;
	border-top-left-radius: 9px;
}

.beaTable table tr:first-child td:last-child {
	-moz-border-radius-topright: 9px;
	-webkit-border-top-right-radius: 9px;
	border-top-right-radius: 9px;
}

.beaTable tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-left-radius: 9px;
	border-bottom-left-radius: 9px;
}

.beaTable tr:hover td {
	
}

.beaTable tr:nth-child(odd) {
	background-color: #dbffff;
}

.beaTable tr:nth-child(even) {
	background-color: #ffffff;
}

.beaTable td {
	vertical-align: middle;
	border: 1px solid #1f9b2b;
	border-width: 0px 1px 1px 0px;
	text-align: center;
	padding: 11px;
	font-size: 12px;
	font-family: Comic Sans MS;
	font-weight: normal;
	color: #000000;
}

.beaTable tr:last-child td {
	border-width: 0px 1px 0px 0px;
}

.beaTable tr td:last-child {
	border-width: 0px 0px 1px 0px;
}

.beaTable tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}

.beaTable tr:first-child td {
	background: -o-linear-gradient(bottom, #a4fcfc 5%, #15b9bf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a4fcfc
		), color-stop(1, #15b9bf));
	background: -moz-linear-gradient(center top, #a4fcfc 5%, #15b9bf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a4fcfc",
		endColorstr="#15b9bf");
	background: -o-linear-gradient(top, #a4fcfc, 15b9bf);
	background-color: #a4fcfc;
	border: 0px solid #1f9b2b;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 16px;
	font-family: Courier;
	font-weight: bold;
	color: #0D0F74;
}

.beaTable tr:first-child:hover td {
	background: -o-linear-gradient(bottom, #a4fcfc 5%, #15b9bf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a4fcfc
		), color-stop(1, #15b9bf));
	background: -moz-linear-gradient(center top, #a4fcfc 5%, #15b9bf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a4fcfc",
		endColorstr="#15b9bf");
	background: -o-linear-gradient(top, #a4fcfc, 15b9bf);
	background-color: #a4fcfc;
}

.beaTable tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}

.beaTable tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}