@CHARSET "UTF-8";

/* CSS Document */
p.button {
/*  	display: inline-block; */
	text-align: center;
	cursor: pointer;
}

p.h, p.button:hover {
	background-color: #ffffff;
	color: #666666;
}

p.a, p.button:active {
	background-color: #fbfbfb;
	color: #999999;
}

p.button span {
	display: inline-block;
}

/* Colors */
.bRed {
	background-color: #e32636;
	border: 1px solid #e32636;
	color: #ffffff;
}

.bOrange {
	background-color: #ff8800;
	border: 1px solid #ff8800;
	color: #ffffff;
}

.bYellow {
	background-color: #ffbf00;
	border: 1px solid #ffbf00;
	color: #ffffff;
}

.bGreen {
	background-color: #3caa3c;
	border: 1px solid #3caa3c;
	color: #ffffff;
}

.bBlue {
	background-color: #3a75c4;
	border: 1px solid #3a75c4;
	color: #ffffff;
}

.bPurple {
	background-color: #990066;
	border: 1px solid #990066;
	color: #ffffff;
}

.bGray {
	background-color: #999999;
	border: 1px solid #999999;
	color: #ffffff;
}

/* Sizes */
.menu {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	width: 220px;
	height: 220px;
	border-radius: 30px;
	margin: 10px;
}

.menu span {
	margin: 67px 10px 5px 10px;
}

.big {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 36px;
	width: 200px;
	height: 60px;
	border-radius: 30px;
	margin: 10px;
}

.big span {
	margin: 5px 10px 5px 10px;
}

.medium {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	height: 40px;
	border-radius: 20px;
	margin: 10px;
}

.medium span {
	margin: 11px 15px 12px 15px;
}

.small {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	height: 24px;
	border-radius: 12px;
	margin: 10px;
}

.small span {
	margin: 5px 10px 6px 10px;
}

.dot {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
}

.dot span {
	width: 10px;
	height: 10px;
	margin: 0px 3px 6px 3px;
	text-shadow: none;
}