* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
}

body {
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
	background: rgb(227, 227, 227) url(bg.png) repeat;
}

/* header */
.header {
	border: 1px solid;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: darkturquoise;
	color: whitesmoke;
}

.header img {
	padding-top: 8px;
}

.header p.button.small {
	margin: 10;
}
.headerNav {
	margin-top: 3px;
	float: right;
}

.errors {
	width: 300px;
	color: red;
}

.errors td {
	text-align: center;
}


/* status */
.status {
	background: darkturquoise;
	width: 100%;
	height: 25px;
	margin-top: 50px;
	color: azure;
	font-size: 20px;
	position: fixed;
}

.status a {
	text-decoration: none;
	color: azure;
}

.dominant {
	display: inline;
}

.balance {
	float: right;
}

.content {
	border: 2px solid;
	border-color: darkturquoise;
	border-bottom: none;
	width: 900px;
	background: white;
}


.wrapperNav {
	margin-top: 155px;
	margin-left: 155px;
	width: 550px;
	height: 550px;
}

.wrapperNav > a > p {
	display: inline-block;
	margin-left: 40px;
	margin-top: 40px;
}

.tranBlock {
	margin-top: 110px;
}